body {
  position: relative;
}

p {
  text-indent: 30px;
}

.container {
  background-color: white;
}

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}

/* need this so everything doesn't shift when navbar is affixed, also need to apply section class to all parts of site */
.affix ~ .section {
  position: relative;
  top: 50px;
}

.navbar {
  margin-bottom: 0px;
  height: 50px;
}

.carousel {
  width: 800px; 
  margin: 0 auto;
}

/* no more shading for hover on carousel */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* change carousel indicator shape to small rectangle */
.carousel-indicators li, .carousel-indicators li.active {
  border-radius: 0px;
  height: 5px;
  width: 30px;
}

#topHeader {
  height: 80px;
  overflow: hidden;
  background-color: #ff7676;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#sectionTitle {
  background-color: #FFE5EA;
}

#section2 {
  background-color: #effbfb;
}

#sectionAnimals {
  background-color: #EAF9EF;
}

#section4 {
  background-color: #e0cce8;
}
